<div *ngFor="let track of tracks | async">
  <ul>
    <li>
    <mat-card class="card" style="width: 700px; height: 65px" fxLayout="row">
      <button mat-mini-fab color="warn" (click)="addToHistory(track._id)">Play</button>
      <div fxLayout="column" style="margin-left: 10px">
      <mat-card-title style="font-size: 18px">{{ track.title }}</mat-card-title>
      <mat-card-subtitle>{{ track.length }}</mat-card-subtitle>
      </div>
      <p style="margin-left: 15px; font-style: italic; margin-top: 10px" *appHasRoles="['admin']">{{ track.is_published ? '' : '"Неопубликовано"' }}</p>
      <div *appHasRoles="['admin']" style="margin-left: auto;" fxLayout="row">
        <button mat-raised-button style=" display: block; margin-right: 10px" (click)="publishTrack(track._id, {is_published: true})">Publish</button>
        <img src="https://findicons.com/files/icons/1262/amora/256/delete.png" style="height: 40px; cursor: pointer; display: block" alt="Delete" (click)="removeTrack(track._id)"/>
      </div>
    </mat-card>
    </li>
  </ul>
</div>
