<mat-toolbar color="primary">
  <span class="example-spacer" routerLink="/" style="cursor: pointer">My App</span>
  <nav *appHasRoles="['user', 'admin'] else userMenu">
      <div fxLayoutAlign="row">
        <p style="margin-top: 10px">Hello, <b style="color: lightgray">{{ (user | async)?.displayName }}</b></p>
        <button mat-icon-button [matMenuTriggerFor]="menu" style="height: 55px; width: 55px">
          <img [src]="(user | async)?.avatar" style="border: 2px solid white; margin-left: 10px" alt="user"/>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
        <button mat-menu-item routerLink="/artist/new">Add new artist</button>
        <button mat-menu-item routerLink="/album/new">Add new album</button>
        <button mat-menu-item routerLink="/track/new">Add new track</button>
        <button mat-menu-item routerLink="/trackHistory">Track history</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-template #userMenu>
  <nav>
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="register">REGISTER</button>
    <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="login" style="margin-left: 10px">LOGIN</button>
  </nav>
</ng-template>
