<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Add new artist</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="createArtist()" #f="ngForm" fxLayout="column" autocomplete="off">

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            type="text"
            name="name"
            required
            matInput
            ngModel
            #name="ngModel"
          />
          <mat-error *ngIf="name.touched && name.hasError('required')">
            Name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Information</mat-label>
          <textarea
            name="information"
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel></app-file-input>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          CREATE
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
