<div fxLayout="row wrap">
  <mat-card class="example-card" *ngFor="let artist of artists | async">
    <img
      mat-card-image
      [src]="artist.image | image"
      style="height: 292px; width: 292px"
      [alt]="artist.name"/>
    <h2>{{ artist.name }}</h2>
    <mat-card-content>
      <p>
        <mat-card-subtitle>{{ artist.information }}</mat-card-subtitle>
      </p>
      <p style="font-style: italic;" *appHasRoles="['admin']">{{ artist.is_published ? '' : '"Неопубликовано"' }}</p>
    </mat-card-content>
    <div style="padding-top: 50px">
      <button mat-raised-button style="height: 40px; cursor: pointer; bottom: 0; position: absolute; margin-bottom: 10px" [routerLink]="['/artist', artist.id]">VIEW</button>
      <div *appHasRoles="['admin']">
        <img src="https://findicons.com/files/icons/1262/amora/256/delete.png" style="height: 40px; cursor: pointer; margin-left: 75px; bottom: 0; position: absolute; margin-bottom: 10px" alt="Delete" (click)="removeArtist(artist.id)"/>
        <button mat-raised-button *ngIf="artist.is_published === false" style="height: 40px; margin-left: 125px; cursor: pointer; bottom: 0; position: absolute; margin-bottom: 10px" (click)="publishArtist(artist.id, {is_published: true})">PUBLISH</button>
      </div>
    </div>
  </mat-card>
</div>
