<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Add new track</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="createTrack()" #f="ngForm" fxLayout="column" autocomplete="off">

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            type="text"
            name="title"
            required
            matInput
            ngModel
            #title="ngModel"
          />
          <mat-error *ngIf="title.touched && title.hasError('required')">
            Title is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Album</mat-label>
          <mat-select name="album" required ngModel #album="ngModel">
            <mat-option *ngFor="let album of (albums | async)?.albums" [value]="album._id">
              {{ album.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="album.touched && album.hasError('required')">
            Album is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Length</mat-label>
          <input
            type="text"
            name="length"
            matInput
            ngModel
          />
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          CREATE
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
