
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  background-color: #f44336;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 2px;
}
