<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Add new album</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="createAlbum()" #f="ngForm" fxLayout="column" autocomplete="off">

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            type="text"
            name="title"
            required
            matInput
            ngModel
            #title="ngModel"
          />
          <mat-error *ngIf="title.touched && title.hasError('required')">
            Title is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input
            type="date"
            name="date"
            matInput
            ngModel
            #date="ngModel"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Artist</mat-label>
          <mat-select name="artist" required ngModel #artist="ngModel">
            <mat-option *ngFor="let artist of artists | async" [value]="artist.id">
              {{ artist.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="artist.touched && artist.hasError('required')">
            Artist is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel></app-file-input>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          CREATE
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
