
<div class="container" style="padding: 10px 10px">
  <h1><b>{{ (data | async)?.artist.name }}</b></h1>
  <figure class="sign">
    <img
      [src]="(data | async)?.artist.image | image"
      style="height: 200px"
      alt="img"
    />
    <figcaption>{{ (data | async)?.artist.information }}</figcaption>
  </figure>
  <h2>Альбомы: </h2>
  <div fxLayout="row wrap">
    <div *ngFor="let album of (data | async)?.albums" style="text-align: center" >
      <p style="font-style: italic; font-size: large">«{{ album.title }}»</p>
      <img
        mat-card-image
        [src]="album.image | image"
        style="height: 292px; width: 292px; margin-left: 20px; cursor: pointer"
        [alt]="album.title"
        [routerLink]="['', album._id]"
      />
      <p *appHasRoles="['admin']">{{ album.is_published ? '' : '"Неопубликовано"' }}</p>
      <p>({{ album.date }})</p>
      <img *appHasRoles="['admin']" src="https://findicons.com/files/icons/1262/amora/256/delete.png" style="height: 40px; cursor: pointer" alt="Delete" (click)="removeAlbum(album._id)"/>
    </div>
  </div>
</div>
