<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()" [appIdentical]="['password', 'passwordRepeat']">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            name="email"
            autocomplete="username"
            email
            required
            matInput
            ngModel
            #email="ngModel"
          />
          <mat-error *ngIf="email.touched && email.hasError('required')">
            Email is required!
          </mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">
            Enter correct email!
          </mat-error>
          <mat-error *ngIf="email.touched && email.hasError('serverError')">
            {{ email.getError('serverError') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            autocomplete="new-password"
            required
            matInput
            ngModel
            appPassword
            #password="ngModel"
          />
          <mat-error *ngIf="password.touched && password.hasError('required')">
            Password is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password Repeat</mat-label>
          <input
            type="password"
            name="passwordRepeat"
            autocomplete="new-password"
            required
            matInput
            ngModel
            appPassword
            #passwordRepeat="ngModel"
          />
          <small
            *ngIf="passwordRepeat.touched && f.errors?.['identical']"
            class="form-text invalid-form-text"
          >
            Passwords should match!
          </small>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Display Name</mat-label>
          <input
            type="text"
            name="displayName"
            required
            matInput
            ngModel
            #displayName="ngModel"
          />
          <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
            This name you will see on the website
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="avatar" ngModel></app-file-input>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          REGISTER
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
