<div *ngFor="let trackH of trackHistory | async">
  <ul>
    <li>
      <mat-card class="card" style="width: 600px; height: 100px" fxLayout="column">
        <p style="font-size: 16px"><strong>{{ trackH.user.displayName }}</strong></p>
        <div fxLayout="row">
          <p>{{ trackH.artist.name }} - {{ trackH.track.title }} <p style="margin-left: 5px; font-style: italic">(Дата прослушивания: {{ trackH.datetime }})</p>
        </div>
      </mat-card>
    </li>
  </ul>
</div>
